
.btn{
    padding: 12px 20px;
    background-color: black;
    color: white;
    border-radius: 6px;
    min-width: 220px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.btn1{
    padding: 18px 20px;
    background-color: white;
    color: black;
    border-radius: 6px;
    min-width: 490px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
    /* width: 100%; */
    cursor: pointer;
    
}